version: 2.1

orbs:
  node: circleci/node@4.0.1

parameters:
  version:
    type: string
    default: 0.4.3

general:
  branches:
    - master

jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: gradle build

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      - store_artifacts:
          path: build/libs/
      
      - node/install:
          install-yarn: true

      - run:
          name: Discord webhook
          command: |
            cd .circleci/discordwebhook
            yarn install
            yarn start << pipeline.git.branch >> << pipeline.parameters.version >> $CIRCLE_BUILD_NUM https://api.github.com/repos/MeteorDevelopment/meteor-client/compare/<< pipeline.git.base_revision >>...<< pipeline.git.revision >>